img {
    width: 100px;
    height: 100px;
    border: 1px solid #ff0000;
    border-radius: 1px solid #aa0000;
}

.card {
    width: 200px;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
}

.full {
    color: red;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
}