<h3>Our Trending Restaurants
</h3>
<div class="card-deck">

    <div *ngFor="let eachItem of trendingList" class="card text-center alert-primary" style='margin: 30px;'>
        <div class='card-header'>
            {{eachItem.name}}

        </div>
        <div class='card-img-top' style="align-content:center">
            <img src="{{eachItem.image}}" alt="logo" class='mx-auto d-block'>
        </div>
        <div class='card-body'>
            <div>{{eachItem.rating}}</div>
            <div>{{eachItem.status}}</div>
        </div>
    </div>

</div>
<h3>Our Trending Food Items</h3>

<div class="card-deck">

    <div *ngFor="let eachItem of icecreamList" class="card alert-primary">
        <div class='card-img-top' style='align-content: center'>
            <img src="{{eachItem.image}}" alt="logo" class='mx-auto d-block'></div>
        <div class='card-body'>
            <div>{{eachItem.name}}</div>

        </div>
    </div>

</div>

<div>
    <app-order></app-order>
</div>